<%= render('layouts/errors', :object => @product) %>

<div class="row">
  <div class="col-xs-6">
    <%= bootstrap_form_for @product do |f| %>
      <%= f.text_field :name %>
      <%= f.select :country_of_origin, [["USA"], ["China"], ["Mexico"], ["Italy"], ["Argentina"]], { label: "Country of Origin"}, {class: "selectpicker"} %>
      <%= f.text_field :cost %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
